.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    background: white;
    top: 53px;
    right: 7px;
    width: 180px;
    border-radius: 7px;
    height: 640px;
}

.dropdown-menu::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-bottom: 30px solid white;
    border-radius: 5px;
    top: -19px;
    right: 8px;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 5px 20px 0 15px;
    height: 55px;
    font-size: 19px;
    font-weight: 500;
    color: rgb(97, 97, 97);
    border-bottom: 1px solid rgba(216, 214, 214, 0.684);
}